@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "ヒラギノ丸ゴ Pro W4", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 3;
    color: #6cc661;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper{
    max-width: auto;
    margin: 0 auto;
    padding: 0 4px;
}

/* HEADER
------------------------------- */
.logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
}
.page-header {
    display: flex;
    justify-content: space-between;
}

/*背景
-------------------------------- */
.big-big {
    background-size: cover;
    background-position: center center;
    min-height: ;
}
#home {
    background-image: url(../image/frame.jpg);
    background-color:rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
}
#home .page-title {
    text-transform: none;
}

/*メニューバー
-------------------------------- */
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 10px;
    list-style-type: none;
}
.main-nav li {
    margin-left: 10px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}

/* HOME
------------------------------- */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: calc(1vw + 0.8rem);
    margin: 0 0 10rem;
}

/* 見出し */
.page-title {
    font-size: calc(5vw + 1.5rem);
    font-family: 'fantasys', serif;
    text-transform: uppercase;
    font-weight: lighter;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: rgb(154, 224, 238);
    color: #fff;
    border-radius: 50%;
    padding: 60px 40px;
}
.button:hover {
    background: rgb(30, 191, 219);
}

